@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$display: 900 90px 'Oswald', sans-serif;
$title: 300 32px 'Oswald', sans-serif;
$small-title: 400 16px 'Oswald', sans-serif;
$text: 400 16px 'Cantarell', sans-serif;
$link: 700 16px 'Cantarell', sans-serif;
$btn: 400 16px 'Oswald', sans-serif;
$tiny-title: 400 14px 'Oswald', sans-serif;
$tiny-text: 400 12px 'Cantarell', sans-serif;