* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: $text;
    color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: $title;
}

h1 {
    font-size: 8vw !important;
    font: $display;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
}

span {
    font-size: 12px;
}

a {
    color: $light !important;
    font: $link;
    &:hover {
        color: $primary !important;
        opacity: 0.8;
    }
}

button {
    font: $btn !important;
}

button:hover {
    border-color: $primary !important;
}

button:focus,
button:focus-visible {
    outline: 4px auto $primary !important;
}

body {
    background-color: $dark;
    position: relative;
    z-index: -2;
}

canvas {
    height: 100vh !important;
    width: 100% !important;
}

.mc-btn {
    border-radius: 50px;
}

.mc-btn-round {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.mc-btn-round-large {
    height: 256px;
    width: 256px;
    border-radius: 50%;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .anticon {
        transform: rotateZ(-45deg);
    }
}

.mc-btn-primary {
    background-color: $primary;
    color: $dark;
    border-color: transparent;
    opacity: 1;

    * {
        color: $dark;
    }

    &:hover {
        opacity: 0.8;
        color: $dark !important;
    }
}

.mc-btn-outlined {
    background-color: transparent;
    color: $light;
    border: 1px solid $light;
}

.mc-floating-cta-br {
    position: absolute;
    bottom:128px;
    right: 128px;
}

.mc-floating {
    position: sticky;
    bottom: 32px;
    margin-left: auto;
    margin-right: 32px;
}

a.active {
    color: $primary !important;
}

@media (max-width: 1200px) {
    .mc-floating-cta-br {
        bottom: 64px;
        right: 64px;
    }
}